@import '../fonts/fonts.css';

p{
    font-family: 'booklet-cordel';
    color: rgb(224, 12, 12);
    height: 30%;
    font-size: 100%;
}

div{
    background: url("../images/background-image.png");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 20%;
}